Tuples are sequences like lists but they are immutables. They are used to represent fixed collections of items

### 1. Tuple Basics

In [2]:
T = (1,2,3,4)
len(T)

4

In [11]:
T = (1, "one", 2, "two")
print(T)
print(len(T))

(1, 'one', 2, 'two')
4

In [15]:
#Tuples are immutable and cannot be changed once assigned
T = (1,2,3,4)
print(T)
#T[1]= 5 # gives and error

#But variable can be reassigned
T = (3,4)
print(T)

(1, 2, 3, 4)
(3, 4)

In [4]:
T = (1,2,3,4)
T + (5,6)
T

(1, 2, 3, 4)

In [9]:
T = (11,22,33,44)
print(T.index(11)) # 11 appears are 0th position
print(T.index(22))
# print(T.index(5)) # Throws an error.

0
1

In [10]:
T = (11,11,22,33,44,11)
print(T.count(11))

3